@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

.nav .nav-link, .navbar-brand, .navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    background: #fff;
}

.section-title {
    font-family: Pacifico, sans-serif;

}

.section-title span {
    color: #e15f41;
}

#sobre-restaurante {
    background-color: #ffeae6;
}